{% extends 'ITHelpDesk/base.html' %}
{% block content %}
{% load static %}
<!-- Displays the title and instructions for edit ticket page -->
<h2>View/Edit Help Desk Ticket</h2>
<p>To edit the helpdesk ticket, please make the changes below.</p>
<!-- Displays the edit ticket Django form -->
<div class="container">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
  </form>
</div>
<!-- Displays the comments for a ticket -->
<h2>Comments:</h2>
{% for comment in ticket.comment_set.all %}
  <div>
    <p>{{ comment.comment_text }}</p>
    <p>Posted by {{ comment.comment_user.username }} on {{ comment.comment_created_at }}</p>
  </div>
{% empty %}
  <p>No comments yet.</p>
{% endfor %}
<a href="{% url 'add-comment' ticket.helpdesk_ticket_id %}">Add Comment</a>
<br>
<br>
<button onclick=location.href="{% url 'view-my-tickets'%}">Back</button>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
