{% extends 'ITHelpDesk/base.html' %}
{% block content %}
<style>
    input[type="text"], input[type="email"], input[type="password"] {
        width: 900px;
        align-items: center;
    }
</style>
<!-- Defines title and instructions for user sign up page -->
<h2 style="text-align: center;">New User Creation</h2>
<p style="text-align: center;">To create a new user account, please supply the following information.</p>
<div class="container">
    <!-- Displays user creation Django form -->
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" maxlength="150" required id="id_username" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</div>
        </div>
        <div class="mb-3">
            <label for="id_email" class="form-label">Email Address</label>
            <input type="email" class="form-control" name="email" maxlength="254" required id="id_email" aria-describedby="usernameHelp">
            <div id="emailHelp" class="form-text">Required. Please enter your email address.</div>
        </div>
        <div class="mb-3">
            <label for="id_first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" name="first_name" maxlength="30" required id="id_first_name" aria-describedby="firstNameHelp">
            <div id="firstNameHelp" class="form-text">Required.</div>
        </div>
        <div class="mb-3">
            <label for="id_last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="last_name" maxlength="30" required id="id_last_name" aria-describedby="lastNameHelp">
            <div id="lastNameHelp" class="form-text">Required.</div>
        </div>
        <div class="mb-3">
            <label for="id_password1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password1" autocomplete="new-password" required id="id_password1" aria-describedby="password1Help">
            <div id="password1Help" class="form-text">Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric..</div>
        </div>
        <div class="mb-3">
            <label for="id_password2" class="form-label">Password Confirmation</label>
            <input type="password" class="form-control" name="password2" autocomplete="new-password" required id="id_password2" aria-describedby="password2Help">
            <div id="password2Help" class="form-text">Enter the same password as before, for verification.</div>
        </div>
        <input type="submit" value="Register">
    </form>
</div>
<br>
<button onclick="goBack()">Back</button>
<br>
<br>
<br>
<br>

<script>
function goBack() {
window.history.back();
}
</script>
{% endblock %}